{% extends "base.html" %}

{% block title %}Create Section{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="border border-3 card col-lg-6" style="margin-top: 20px; background-color: #e0f7fa;">
        <div class="card-header d-flex justify-content-center" style="font-size:20px; background-color: #ede9e9;">
            Create Section
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'createsection' %}">
                {% csrf_token %}
                <div class="mb-3 col-md-12">
                    <label for="name" class="form-label">Enter Section Name</label>
                    <input type="text" name="sectionname" class="form-control" id="name" required>
                </div>
                <div class="btn-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-success" style="margin-right:10px;">Create</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'homepage' %}';">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
